/* Текст */
a,h1,h2,h4
{
    color:white;
    line-height: normal;
}
h1 {
    text-align: left;
    font: normal normal bold 55px/normal Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
h2 {
    text-align: left;
    line-height: normal;
    font: normal normal bold 30px/normal Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}
h4 {
    text-align: left;
    font: normal normal normal 24px/normal Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: inline;
}
.text{
    margin: 4 1.5%;
    height: 120px;
    line-height: normal;
    text-align: left;
    font: normal normal normal 18px/normal Arial;
    letter-spacing: 0px;
    color: #050505;
    opacity: 1;
    overflow: auto;
}
.pagination a {
    color: #FFFFFF;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 24px/normal Arial;
    letter-spacing: 0px;
    opacity: 1;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
    color: rgb(32, 126, 162);
}
p.contacts {
    text-align: right;
    font: normal normal normal 18px/normal Arial;
    letter-spacing: 0px;
    color: #f8f8f8;
    opacity: 1;
}
p.contacts > a {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight:bold;
}
::-webkit-input-placeholder {
    color: #707070;
    text-align: left;
    font: normal normal normal 18px/24px Arial;
    letter-spacing: 0px;
}
::-moz-placeholder  {
    color: #707070;
    text-align: left;
    font: normal normal normal 18px/24px Arial;
    letter-spacing: 0px;
}
:-moz-placeholder   {
    color: #707070;
    text-align: left;
    font: normal normal normal 18px/24px Arial;
    letter-spacing: 0px;
}
:-ms-input-placeholder  {
    color: #707070;
    text-align: left;
    font: normal normal normal 18px/24px Arial;
    letter-spacing: 0px;
}
input[type~="text"], input[type~="password"], input[type~="email"], textarea {
    color: #050505;
    text-align: left;
    font: normal normal normal 18px/24px Arial;
    letter-spacing: 0px;
}

/* Блоки */
body{
background-color: rgb(32, 126, 162);
    display: block;
    margin: 0 0;
    width: 100%;
}
.container-narrow {
    margin: 70px auto;
    max-width: 1250px;
    width: 100%;
}
div {
    display: block;
    position: relative;
    padding: 5px;
}
section {
    display: inline-block;
    margin: 10 5;
    padding: 13;
    width: 370px;
    height: 270px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}
.sectionText {
    font-size: 24px;
    display: inline-block;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-070707);
    text-align: left;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #070707;
    opacity: 1;
}
.sectionCkbx {
    font-size: 20px;
    float: right;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-070707);
    text-align: left;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #070707;
    opacity: 1;
}
span.container{
    display: inline-block;
    width: 100%;
    margin: 2 4;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    text-align: left;
    font: normal normal normal 18px/24px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
#task_form {
    width: 814px;
}
.addtaskform {
    position: static;
}
.addtaskform-btn {
    position: static;
    width: 320px;
    height: 60px;
    float: right;
}
.authform-btn {
    position: static;
    width: 400px;
    height: 60px;
}
.string {
    float: none;
}
.form-popup {
    display: none;
    position: fixed;
    border-radius: 10px;
    border: 4px solid  white;
    background-color: rgb(32, 126, 162);
    width: 814px;
    height: 450px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}
.auth-popup {
    display: none;
    position: fixed;
    border-radius: 10px;
    border: 4px solid  white;
    background-color: rgb(32, 126, 162);
    width: 410px;
    height: 400px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}
.pagination {
    display: inline-block;
}
.left {
    display: inline;
    float: inherit;
}
.right {
    display: inline;
    float: right;
}
.left-add {
    display: inline-block;
    float: inherit;
    width: 390px;
}
.right-add {
    display: inline-block;
    float: right;
}
.input {
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
    width: 399px;
    height: 50px;
}
.input-desc {
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
    width: 804px;
    height: 160px;
}
.input-ckbx {
    border: 1px solid var(--unnamed-color-707070);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
    width: 20px;
    height: 20px;

}
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
}

/* Кнопки */
.btn-login, .btn-logout {
    background: rgb(32, 126, 162);
    color: white;
    border-radius: 0px;
    outline: none;
    border: 0;
    color: #FFFFFF;
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;
    text-align: left;
    font: normal normal normal 24px/32px Arial;
    letter-spacing: 0px;
    opacity: 1;
}
.open-button {
    background: #4E4E4E;
    outline: none;
    border: 0;
    float: right;
    padding: 0;
    width: 156px;
    height: 40px;
    text-align: center;
    font: normal normal normal 18px/24px Arial;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    border: 1px solid #707070;
    border-radius: 5px;
    font: normal normal normal 18px/24px Arial;
}
.delete-button {
    background: #ffffff;
    outline: none;
    border: 0;
    float: left;
    padding: 0;
    width: 156px;
    height: 40px;
    text-align: center;
    font: normal normal normal 18px/24px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    border: 1px solid #707070;
    border-radius: 5px;
    font: normal normal normal 18px/24px Arial;
}
.add-button {
    outline: none;
    border: 0;
    float: right;
    padding: 0;
    width: 156px;
    height: 50px;
    text-align: center;
    font: normal normal normal 18px/24px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    border: 1px solid #707070;
    border-radius: 5px;
}
.reset-button {
    background: rgb(32, 126, 162);
    color:white;
    border-radius: 0px;
    float: left;
    width: 156px;
    height: 50px;
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    font: normal normal normal 18px/24px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.button:hover {
    background-color: #ddd;
    border-radius: 5px;
    color: rgb(32, 126, 162);
}
/* Dropdown Button */
.dropbtn {
    background-color: rgb(32, 126, 162);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font: normal normal normal 24px/normal Arial;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ddd;
    border-radius: 5px;
    color: rgb(32, 126, 162);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}